In [1]:
import numpy as np
import pandas as pd

In [7]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
np_arr = np.array(numbers)
dict = {'a':1, 'b':2, 'c':3}

In [9]:
pd.Series(data = numbers)

0    1
1    2
2    3
dtype: int64

In [11]:
pd.Series(data=numbers, index=letters)

a    1
b    2
c    3
dtype: int64

In [12]:
pd.Series(numbers, letters)

a    1
b    2
c    3
dtype: int64

In [3]:
letters

['a', 'b', 'c']

In [4]:
numbers

[1, 2, 3]

In [5]:
np_arr

array([1, 2, 3])

In [6]:
dict

{'a': 1, 'b': 2, 'c': 3}

In [14]:
pd.Series(np_arr)

0    1
1    2
2    3
dtype: int64

In [15]:
pd.Series(np_arr, letters)

a    1
b    2
c    3
dtype: int64

In [16]:
dict

{'a': 1, 'b': 2, 'c': 3}

In [17]:
pd.Series(dict)

a    1
b    2
c    3
dtype: int64

In [18]:
pd.Series(data=letters)

0    a
1    b
2    c
dtype: object

In [19]:
life_long_average = pd.Series([84.7, 84.5, 83.7], ['Hong Kong', 'Japan', 'Singapore'])

In [20]:
life_long_average

Hong Kong    84.7
Japan        84.5
Singapore    83.7
dtype: float64

In [21]:
life_long_average['Hong Kong']

84.7

In [24]:
life_long_average1 = pd.Series([84.7, 84.5, 83.7], ['USA', 'Japan', 'Singapore'])

In [25]:
life_long_average1 + life_long_average

Hong Kong      NaN
Japan        169.0
Singapore    167.4
USA            NaN
dtype: float64