In [2]:
import numpy as np
import pandas as pd

In [3]:
out_ind = ['T1', 'T1', 'T1', 'T2', 'T2', 'T2']
ins_ind = [1, 2, 3, 1, 2, 3]
ind_hier = list(zip(out_ind, ins_ind))

In [4]:
ind_hier

[('T1', 1), ('T1', 2), ('T1', 3), ('T2', 1), ('T2', 2), ('T2', 3)]

In [5]:
mult_ind = pd.MultiIndex(levels=[['T1', 'T2'], [1, 2, 3]],
                     labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead

In [7]:
mult_ind_df = pd.DataFrame(np.random.randn(6, 2), mult_ind, ['X', 'Y'])

In [8]:
mult_ind_df

             X         Y
T1 1  0.565447 -1.253140
   2  0.436226  2.186488
   3 -1.341990 -0.682586
T2 1  2.088773  1.565754
   2 -0.456648  0.224070
   3  1.107484  0.132484

In [10]:
mult_ind_df.loc['T1'].loc[2]

X    0.436226
Y    2.186488
Name: 2, dtype: float64

In [12]:
mult_ind_df

             X         Y
T1 1  0.565447 -1.253140
   2  0.436226  2.186488
   3 -1.341990 -0.682586
T2 1  2.088773  1.565754
   2 -0.456648  0.224070
   3  1.107484  0.132484

In [13]:
mult_ind_df.index.names

FrozenList([None, None])

In [14]:
mult_ind_df.index.names = ['Types', 'Numbers']

In [15]:
mult_ind_df

                      X         Y
Types Numbers
T1    1        0.565447 -1.253140
      2        0.436226  2.186488
      3       -1.341990 -0.682586
T2    1        2.088773  1.565754
      2       -0.456648  0.224070
      3        1.107484  0.132484

In [18]:
mult_ind_df.loc['T1'].loc[3]['Y']

-0.6825863422537316

In [19]:
mult_ind_df

                      X         Y
Types Numbers
T1    1        0.565447 -1.253140
      2        0.436226  2.186488
      3       -1.341990 -0.682586
T2    1        2.088773  1.565754
      2       -0.456648  0.224070
      3        1.107484  0.132484

In [20]:
mult_ind_df.loc['T2']

                X         Y
Numbers
1        2.088773  1.565754
2       -0.456648  0.224070
3        1.107484  0.132484

In [21]:
mult_ind_df.xs('T2')

                X         Y
Numbers
1        2.088773  1.565754
2       -0.456648  0.224070
3        1.107484  0.132484

In [22]:
mult_ind_df

                      X         Y
Types Numbers
T1    1        0.565447 -1.253140
      2        0.436226  2.186488
      3       -1.341990 -0.682586
T2    1        2.088773  1.565754
      2       -0.456648  0.224070
      3        1.107484  0.132484

In [23]:
mult_ind_df.xs(2, level='Numbers')

              X         Y
Types
T1     0.436226  2.186488
T2    -0.456648  0.224070

In [9]:
mult_ind = pd.MultiIndex(levels=[['T1', 'T2'], [1, 2, 3]],
                     codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
mult_ind

MultiIndex([('T1', 1),
            ('T1', 2),
            ('T1', 3),
            ('T2', 1),
            ('T2', 2),
            ('T2', 3)],
           )